nav{
    background-color: #add8e6;
}
.home_btn{
    float: left;
}

iframe{
    width: 250px;
    height: 150px;
}

.col-md-4{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #f5f5f5;
    
}

.comments{
    width:200px;
    margin:10px;
}

.list-group-item{
    margin: 0;
}
